.custom-description {
  font-family: 'Arial', serif;
  color: blue;
}

.custom-date {
  font-family: 'Courier New', serif;
  color: green;
}

.custom-number {
  font-family: 'Verdana', serif;
  color: red;
}
